<header class="header">
  <h1 class="header__title">Таблица студентов</h1>
  <h2 class="header__description">Домашняя работа № 9-10</h2>
</header>
<main>
  <section class="filter">
    <h3 class="filter__heading">Фильтр</h3>
    <form class="filter__form" action="#" method="post">
      <fieldset class="filter__field">
        <input class="checkbox filter__checkbox visually-hidden" type="checkbox" name="value-lose" id="input-lose" checked (change)="changeHighlight()" (input)="false">
        <label class="filter__label filter__label_checkbox" for="input-lose">Выделить отстающих</label>
      </fieldset>
      <fieldset class="filter__field">
        <h4 class="filter__subheading">Поиск по имени или фамилии</h4>
        <input class="input filter__input" type="search" name="value-name" placeholder="Введите имя" [(ngModel)]="searchName">
        <input class="input filter__input" type="search" name="value-surname" placeholder="Введите фамилию" [(ngModel)]="searchSurname">
      </fieldset>

      <fieldset class="filter__field">
        <h4 class="filter__subheading">Поиск по дате рождения</h4>
        <div class="filter__date">
          <label class="filter__label" for="input-start-date">С</label>
          <input #dateFromInput class="input filter__input filter__input_date" type="date" name="value-start-date" id="input-start-date" placeholder="Дата" (input)="false">
          <button class="filter__clear" type="button" *ngIf="dateFromInput.value !== ''" (click)="dateFromInput.value = ''">
            <span class="visually-hidden">Очистить</span>
            <svg width="12" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><path d="M6.9 6l4.9-4.9c.2-.2.2-.6 0-.9s-.6-.2-.9 0L6 5.1 1.1.2C.9 0 .5 0 .2.2s-.2.6 0 .9L5.1 6 .2 10.9c-.2.2-.2.6 0 .9.2.2.6.2.9 0L6 6.9l4.9 4.9c.2.2.6.2.9 0 .2-.2.2-.6 0-.9L6.9 6z"/></svg>
          </button>
        </div>
        <div class="filter__date">
          <label class="filter__label" for="input-end-date">По</label>
          <input #dateToInput class="input filter__input filter__input_date" type="date" name="value-end-date" id="input-end-date" placeholder="Дата" (input)="false">
          <button class="filter__clear" type="button" *ngIf="dateToInput.value !== ''" (click)="dateToInput.value = ''">
            <span class="visually-hidden">Очистить</span>
            <svg width="12" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><path d="M6.9 6l4.9-4.9c.2-.2.2-.6 0-.9s-.6-.2-.9 0L6 5.1 1.1.2C.9 0 .5 0 .2.2s-.2.6 0 .9L5.1 6 .2 10.9c-.2.2-.2.6 0 .9.2.2.6.2.9 0L6 6.9l4.9 4.9c.2.2.6.2.9 0 .2-.2.2-.6 0-.9L6.9 6z"/></svg>
          </button>
        </div>
        <button class="button filter__button filter__button_date" type="button" (click)="dateFrom = dateFromInput.value; dateTo = dateToInput.value;">Найти</button>
      </fieldset>

      <fieldset class="filter__field">
        <h4 class="filter__subheading">Поиск по среднему баллу</h4>
        <input class="filter__radio visually-hidden" type="radio" name="score" id="score-all" value="0" checked>
        <label class="filter__radio-label" for="score-all" (click)="selectedScore = 'all'">Все</label>
        <input class="filter__radio visually-hidden" type="radio" name="score" id="score-3" value="3">
        <label class="filter__radio-label" for="score-3" (click)="selectedScore = 3">3</label>
        <input class="filter__radio visually-hidden" type="radio" name="score" id="score-4" value="4">
        <label class="filter__radio-label" for="score-4" (click)="selectedScore = 4">4</label>
        <input class="filter__radio visually-hidden" type="radio" name="score" id="score-5" value="5">
        <label class="filter__radio-label" for="score-5" (click)="selectedScore = 5">5</label>
      </fieldset>

    </form>
  </section>
  <section class="output">
    <div class="output__head">
      <h3 class="output__heading">Таблица</h3>
      <button class="submit output__button" type="button" (click)="editStudent(null)">Добавить студента</button>
      <button class="submit output__button_gray" (click)="sortAsIs()">Сортировка по умолчанию</button>
    </div>
    <table class="output__table table">
      <tr class="table__head" >
        <th class="table__head-block">
          Фамилия
          <div class="table__sort-block">
            <button class="table__sort table__sort_asc" type="button" (click)="sortSurnameAsk()">
              <span class="visually-hidden">По возрастанию</span>
              <svg width="17" height="9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 9" fill="#16254d"><path d="M8.5 7.2L1.3.2C1-.1.5-.1.2.2c-.3.3-.3.8 0 1L8 8.8c.3.3.8.3 1.1 0l7.7-7.5c.1-.2.2-.4.2-.6s-.1-.4-.2-.5c-.3-.3-.8-.3-1.1 0l-7.2 7z"/></svg>
            </button>
            <button class="table__sort table__sort_desk" type="button" (click)="sortSurnameDesk()">
              <span class="visually-hidden">По убыванию</span>
              <svg width="17" height="9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 9" fill="#16254d"><path d="M8.5 7.2L1.3.2C1-.1.5-.1.2.2c-.3.3-.3.8 0 1L8 8.8c.3.3.8.3 1.1 0l7.7-7.5c.1-.2.2-.4.2-.6s-.1-.4-.2-.5c-.3-.3-.8-.3-1.1 0l-7.2 7z"/></svg>
            </button>
          </div>
        </th>
        <th class="table__head-block">
          Имя
          <div class="table__sort-block">
            <button class="table__sort table__sort_asc" type="button" (click)="sortNameAsk()">
              <span class="visually-hidden">По возрастанию</span>
              <svg width="17" height="9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 9" fill="#16254d"><path d="M8.5 7.2L1.3.2C1-.1.5-.1.2.2c-.3.3-.3.8 0 1L8 8.8c.3.3.8.3 1.1 0l7.7-7.5c.1-.2.2-.4.2-.6s-.1-.4-.2-.5c-.3-.3-.8-.3-1.1 0l-7.2 7z"/></svg>
            </button>
            <button class="table__sort table__sort_desk" type="button" (click)="sortNameDesk()">
              <span class="visually-hidden">По убыванию</span>
              <svg width="17" height="9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 9" fill="#16254d"><path d="M8.5 7.2L1.3.2C1-.1.5-.1.2.2c-.3.3-.3.8 0 1L8 8.8c.3.3.8.3 1.1 0l7.7-7.5c.1-.2.2-.4.2-.6s-.1-.4-.2-.5c-.3-.3-.8-.3-1.1 0l-7.2 7z"/></svg>
            </button>
          </div>
        </th>
        <th class="table__head-block">
          Отчество
          <div class="table__sort-block">
            <button class="table__sort table__sort_asc" type="button" (click)="sortMiddleNameAsk()">
              <span class="visually-hidden">По возрастанию</span>
              <svg width="17" height="9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 9" fill="#16254d"><path d="M8.5 7.2L1.3.2C1-.1.5-.1.2.2c-.3.3-.3.8 0 1L8 8.8c.3.3.8.3 1.1 0l7.7-7.5c.1-.2.2-.4.2-.6s-.1-.4-.2-.5c-.3-.3-.8-.3-1.1 0l-7.2 7z"/></svg>
            </button>
            <button class="table__sort table__sort_desk" type="button" (click)="sortMiddleNameDesk()">
              <span class="visually-hidden">По убыванию</span>
              <svg width="17" height="9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 9" fill="#16254d"><path d="M8.5 7.2L1.3.2C1-.1.5-.1.2.2c-.3.3-.3.8 0 1L8 8.8c.3.3.8.3 1.1 0l7.7-7.5c.1-.2.2-.4.2-.6s-.1-.4-.2-.5c-.3-.3-.8-.3-1.1 0l-7.2 7z"/></svg>
            </button>
          </div>
        </th>
        <th class="table__head-block">
          Дата рождения
          <div class="table__sort-block">
            <button class="table__sort table__sort_asc" type="button" (click)="sortDateAsk()">
              <span class="visually-hidden">По возрастанию</span>
              <svg width="17" height="9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 9" fill="#16254d"><path d="M8.5 7.2L1.3.2C1-.1.5-.1.2.2c-.3.3-.3.8 0 1L8 8.8c.3.3.8.3 1.1 0l7.7-7.5c.1-.2.2-.4.2-.6s-.1-.4-.2-.5c-.3-.3-.8-.3-1.1 0l-7.2 7z"/></svg>
            </button>
            <button class="table__sort table__sort_desk" type="button" (click)="sortDateDesk()">
              <span class="visually-hidden">По убыванию</span>
              <svg width="17" height="9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 9" fill="#16254d"><path d="M8.5 7.2L1.3.2C1-.1.5-.1.2.2c-.3.3-.3.8 0 1L8 8.8c.3.3.8.3 1.1 0l7.7-7.5c.1-.2.2-.4.2-.6s-.1-.4-.2-.5c-.3-.3-.8-.3-1.1 0l-7.2 7z"/></svg>
            </button>
          </div>
        </th>
        <th class="table__head-block">
          Средний балл
          <div class="table__sort-block">
            <button class="table__sort table__sort_asc" type="button" (click)="sortScoreAsk()">
              <span class="visually-hidden">По возрастанию</span>
              <svg width="17" height="9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 9" fill="#16254d"><path d="M8.5 7.2L1.3.2C1-.1.5-.1.2.2c-.3.3-.3.8 0 1L8 8.8c.3.3.8.3 1.1 0l7.7-7.5c.1-.2.2-.4.2-.6s-.1-.4-.2-.5c-.3-.3-.8-.3-1.1 0l-7.2 7z"/></svg>
            </button>
            <button class="table__sort table__sort_desk" type="button" (click)="sortScoreDesk()">
              <span class="visually-hidden">По убыванию</span>
              <svg width="17" height="9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 9" fill="#16254d"><path d="M8.5 7.2L1.3.2C1-.1.5-.1.2.2c-.3.3-.3.8 0 1L8 8.8c.3.3.8.3 1.1 0l7.7-7.5c.1-.2.2-.4.2-.6s-.1-.4-.2-.5c-.3-.3-.8-.3-1.1 0l-7.2 7z"/></svg>
            </button>
          </div>
        </th>
        <th class="table__head-block">
          Удалить/редактировать
        </th>
      </tr>
      <tr *ngFor="let student of getAllStudents()" [class.table__red]="student.score < 4 && isRedHighlighted" [class.table__green_name] = "findStudentByName(student.name)" [class.table__green] = "findStudentBySurname(student.surname)" [class.table__isHidden] = "filterScore(student.score)" [class.table__hide] = "filterDate(student.dateOfBirth)">
        <td>{{student.surname}}</td>
        <td>{{student.name}}</td>
        <td>{{student.middleName}}</td>
        <td>{{this.getDate(student.dateOfBirth)}}</td>
        <td>{{student.score}}</td>
        <td>
          <div class="table__controls">
            <button class="table__delete" type="button" (click)="confirmDelete(student)">
              <span class="visually-hidden">Удалить</span>
              <svg width="12" height="12" viewBox="0 0 512 512" fill="#16254d" xmlns="http://www.w3.org/2000/svg"><g><path d="m424 64h-88v-16c0-26.51-21.49-48-48-48h-64c-26.51 0-48 21.49-48 48v16h-88c-22.091 0-40 17.909-40 40v32c0 8.837 7.163 16 16 16h384c8.837 0 16-7.163 16-16v-32c0-22.091-17.909-40-40-40zm-216-16c0-8.82 7.18-16 16-16h64c8.82 0 16 7.18 16 16v16h-96z"/><path d="m78.364 184c-2.855 0-5.13 2.386-4.994 5.238l13.2 277.042c1.22 25.64 22.28 45.72 47.94 45.72h242.98c25.66 0 46.72-20.08 47.94-45.72l13.2-277.042c.136-2.852-2.139-5.238-4.994-5.238zm241.636 40c0-8.84 7.16-16 16-16s16 7.16 16 16v208c0 8.84-7.16 16-16 16s-16-7.16-16-16zm-80 0c0-8.84 7.16-16 16-16s16 7.16 16 16v208c0 8.84-7.16 16-16 16s-16-7.16-16-16zm-80 0c0-8.84 7.16-16 16-16s16 7.16 16 16v208c0 8.84-7.16 16-16 16s-16-7.16-16-16z"/></g></svg>
            </button>
            <button class="table__edit" type="button" (click)="editStudent(student)">
              <span class="visually-hidden">Редактировать</span>
              <svg width="12" height="12" viewBox="0 0 492.49284 492" xmlns="http://www.w3.org/2000/svg" fill="#16254d" ><path d="m304.140625 82.472656-270.976563 270.996094c-1.363281 1.367188-2.347656 3.09375-2.816406 4.949219l-30.035156 120.554687c-.898438 3.628906.167969 7.488282 2.816406 10.136719 2.003906 2.003906 4.734375 3.113281 7.527344 3.113281.855469 0 1.730469-.105468 2.582031-.320312l120.554688-30.039063c1.878906-.46875 3.585937-1.449219 4.949219-2.8125l271-270.976562zm0 0"/><path d="m476.875 45.523438-30.164062-30.164063c-20.160157-20.160156-55.296876-20.140625-75.433594 0l-36.949219 36.949219 105.597656 105.597656 36.949219-36.949219c10.070312-10.066406 15.617188-23.464843 15.617188-37.714843s-5.546876-27.648438-15.617188-37.71875zm0 0"/></svg>
            </button>
          </div>
        </td>
      </tr>
    </table>
  </section>
  <section class="popup" *ngIf="isPopUpShown">
    <div class="popup__container">
      <button class="popup__close" type="button" (click)="cancelDelete()">
        <span class="visually-hidden">Закрыть</span>
        <svg width="12" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" fill="#ffffff"><path d="M6.9 6l4.9-4.9c.2-.2.2-.6 0-.9s-.6-.2-.9 0L6 5.1 1.1.2C.9 0 .5 0 .2.2s-.2.6 0 .9L5.1 6 .2 10.9c-.2.2-.2.6 0 .9.2.2.6.2.9 0L6 6.9l4.9 4.9c.2.2.6.2.9 0 .2-.2.2-.6 0-.9L6.9 6z"/></svg>
      </button>
      <p class="popup__message">Вы уверены,что хотите удалить запись студента: <span class="popup__stress">{{studentToDelete.surname}} {{studentToDelete.name}}</span>?</p>
      <button class="button popup__button" type="button" (click)="delete()">Удалить</button>
      <button class="button popup__button_grey" type="button" (click)="cancelDelete()">Отменить</button>
    </div>
  </section>
  <add-form *ngIf="isEditWindowShown" [student]="editableStudent" (saveStudent)="saveStudent($event)" (cancelEditStudent)="cancelEditStudent()"></add-form>
</main>
